In [3]:
%matplotlib inline

import numpy as np # NUMPY
import pandas as pd # PANDAS
import matplotlib.pyplot as plt # MATPLOTLIB
import seaborn as sns # SEABORN
import scipy
import sklearn
import random as rd
from sklearn.decomposition import PCA
from IPython.display import display

In [4]:
cantSeq = 3
cantFramesxSeq = 4
cantImg = cantSeq*cantFramesxSeq # 12
l = 5 # cantidad de landmark points, 2l es 10

In [5]:
#estoy juntando los frames (las distancias)de todas las secuencias juntos
frame = ['frame'+ str(i) for i in range(0,12)]
xo =['x'+ str(i) for i in range(0,3)]
yo =['y'+ str(i) for i in range(0,3)]


data = pd.DataFrame(columns= frame, index = [*xo,*yo] )
for flp in data.index:
    data.loc[flp, 'frame0':'frame5'] = np.random.poisson(lam = rd.randrange(10,100), size=6)
    data.loc[flp, 'frame6':'frame11'] = np.random.poisson(lam = rd.randrange(10,100), size=6)
data

,frame0,frame1,frame2,frame3,frame4,frame5,frame6,frame7,frame8,frame9,frame10,frame11
x0,86,85,97,114,96,112,65,82,80,76,82,83
x1,12,15,17,13,12,12,41,35,42,33,45,35
x2,51,45,46,43,50,51,67,67,81,64,71,78
y0,56,64,63,66,56,53,67,61,51,57,60,43
y1,89,90,85,98,93,87,103,90,69,90,91,69
y2,89,84,79,90,79,82,20,28,23,32,20,22

In [6]:
data = data.T
data

          x0  x1  x2  y0   y1  y2
frame0    86  12  51  56   89  89
frame1    85  15  45  64   90  84
frame2    97  17  46  63   85  79
frame3   114  13  43  66   98  90
frame4    96  12  50  56   93  79
frame5   112  12  51  53   87  82
frame6    65  41  67  67  103  20
frame7    82  35  67  61   90  28
frame8    80  42  81  51   69  23
frame9    76  33  64  57   90  32
frame10   82  45  71  60   91  20
frame11   83  35  78  43   69  22

In [8]:
#por como pusimos los datos tenemos 4 seq de imagenes, y las primeras 2 y las segundas 2 pertenecen a != tipo de shape

from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()
scaled_df = std_scaler.fit_transform(data)
scaled_df

array([[-0.15845413, -1.0811966 , -0.66356992, -0.31439702,  0.12165177,
         1.16066393],
       [-0.2315868 , -0.84951161, -1.13197222,  0.89288753,  0.22592472,
         0.9948548 ],
       [ 0.64600529, -0.69505496, -1.05390517,  0.74197696, -0.29544002,
         0.82904567],
       [ 1.88926075, -1.00396827, -1.28810631,  1.19470867,  1.06010832,
         1.19382576],
       [ 0.57287262, -1.0811966 , -0.74163697, -0.31439702,  0.53874357,
         0.82904567],
       [ 1.7429954 , -1.0811966 , -0.66356992, -0.76712872, -0.08689412,
         0.92853115],
       [-1.69424029,  1.15842493,  0.58550287,  1.34561924,  1.58147307,
        -1.12750211],
       [-0.45098483,  0.69505496,  0.58550287,  0.44015582,  0.22592472,
        -0.86220749],
       [-0.59725017,  1.23565325,  1.67844156, -1.06894986, -1.96380722,
        -1.02801663],
       [-0.88978087,  0.5405983 ,  0.35130172, -0.16348645,  0.22592472,
        -0.72956019],
       [-0.45098483,  1.46733824,  0.89777107,  0.28924526,  0.33019767,
        -1.12750211],
       [-0.37785215,  0.69505496,  1.44424041, -2.27623441, -1.96380722,
        -1.06117845]])

In [34]:
from sklearn.decomposition import PCA
pca = PCA(n_components=5)
pca.fit_transform(scaled_df)
a = pca.fit_transform(scaled_df)
#np.shape(a)#<-aca cada fila deberia ser un Bk

array([[ 1.31323026, -0.51701897, -0.99287647, -0.24882079,  0.23131535],
       [ 1.65319129,  0.45187971, -0.81921366,  0.53185065, -0.05166964],
       [ 1.61906379, -0.20907521, -0.04645716,  0.79764161, -0.17957516],
       [ 3.01301614,  0.33240216,  1.00126805,  0.11585053,  0.08391077],
       [ 1.58268061, -0.4577652 , -0.24020101, -0.59115022, -0.00725256],
       [ 1.76246078, -1.56544712,  0.5946554 , -0.44142953, -0.00983843],
       [-1.29691074,  2.88687063, -0.20737886, -0.26905866,  0.05897578],
       [-1.05405072,  0.8802186 ,  0.30600928,  0.06607328, -0.05440577],
       [-2.95619608, -1.2534979 ,  0.11472851,  0.61702719,  0.22569904],
       [-1.11213185,  0.59906911, -0.29762534, -0.29971635, -0.20180901],
       [-1.71781267,  1.06914636,  0.69634615, -0.04493379,  0.03921506],
       [-2.8065408 , -2.21678217, -0.10925489, -0.23333391, -0.13456543]])

In [17]:
print(pca.components_)

[[ 0.38331271 -0.47507435 -0.50695638  0.24333412  0.26800061  0.4892189 ]
 [-0.35509533  0.24203747 -0.0455071   0.63889877  0.6088925  -0.1852365 ]
 [ 0.85197603  0.34463123  0.19486234  0.15586277  0.126399   -0.27771374]
 [-0.01167284  0.17243706 -0.12195162  0.64523264 -0.72330813  0.12552769]
 [-0.00432455  0.0803774   0.70084157  0.1066952   0.11616495  0.69098749]]

In [18]:
np.shape(pca.components_) # asumimos 6 componentes

(5, 6)

In [19]:
print(sum(pca.explained_variance_ratio_))

0.9987630789368738

In [31]:
#u_k deberia ser column wise(sino seria el mismo numero para todo y no un vector lo cual seria raro)

ayu= pca.components_

ayul = ayu.T
print(np.shape(ayu))

(5, 6)

In [28]:
np.array(list(data.loc['frame0']))

array([86, 12, 51, 56, 89, 89])

In [29]:
scaled_df[0]

array([-0.15845413, -1.0811966 , -0.66356992, -0.31439702,  0.12165177,
        1.16066393])

In [32]:
np.dot(ayu, scaled_df[0] )

array([ 1.31323026, -0.51701897, -0.99287647, -0.24882079,  0.23131535])